
 #mainNav {
    min-height: 56px;
  }
  
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
  }
  
  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  
  #mainNav .navbar-brand {
    font-weight: 700;
    padding: .9rem 0;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  
  #mainNav .navbar-nav .nav-item:hover {
    outline: none;
  }
  
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav .nav-link:hover {
      color: #64a19d;
    }
    #mainNav .nav-link:active {
      color: #467370;
    }
    #mainNav .nav-link.active {
      color: #64a19d;
      outline: none;
      border-bottom: 0.25rem solid #64a19d;
    }
  }